<!DOCTYPE html>
<html lang="en">
<div>
    NAVIGATE:
    <a href="/">HOME</a>
</div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
<br>
<br>
    <table>
        <tr>
            {%for header in headers%}
            <th>{{header}}</th>
            {%endfor%}
        </tr>
        {%for entry in data%}
        <tr>
            <td>{{entry.id}}</td>
            <td>{{entry.file_name}}</td>
            <td>{{entry.header}}</td>
            <td>{{entry.date}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>